{% extends "base.html" %}
{% load static %}
{% block base %}

<!-- component -->
<header class='shadow-md font-sans tracking-wide relative z-50'>
    <div class='flex flex-wrap fixed w-full items-center justify-between gap-4 px-10 py-4 bg-gradient-to-r from-sky-800 to-sky-950 hover:bg-gradient-to-l hover:from-teal-200 hover:to-lime-200 min-h-[70px]'>
        <a href="javascript:void(0)" class="bg-transparent">
            <img src="https://lh3.googleusercontent.com/proxy/-vkR2Ekch2qfd_kf4SLpv3y_S-7Z2Xw4FbxjItCpDmWKml7dKRhR6GTq9bzVxYJWbxZ7gvzA0sLXZkrApwk" alt="logo" class='w-48' />
        </a>
        <div id="collapseMenu"
            class='max-lg:hidden lg:!block max-lg:before:fixed max-lg:before:bg-black max-lg:before:opacity-50 max-lg:before:inset-0 max-lg:before:z-50'>
            <button id="toggleClose" class='lg:hidden fixed top-2 right-4 z-[100] rounded-full bg-white p-3'>
                <svg xmlns="http://www.w3.org/2000/svg" class="w-4 fill-black" viewBox="0 0 320.591 320.591">
                    <path
                        d="M30.391 318.583a30.37 30.37 0 0 1-21.56-7.288c-11.774-11.844-11.774-30.973 0-42.817L266.643 10.665c12.246-11.459 31.462-10.822 42.921 1.424 10.362 11.074 10.966 28.095 1.414 39.875L51.647 311.295a30.366 30.366 0 0 1-21.256 7.288z"
                        data-original="#000000"></path>
                    <path
                        d="M287.9 318.583a30.37 30.37 0 0 1-21.257-8.806L8.83 51.963C-2.078 39.225-.595 20.055 12.143 9.146c11.369-9.736 28.136-9.736 39.504 0l259.331 257.813c12.243 11.462 12.876 30.679 1.414 42.922-.456.487-.927.958-1.414 1.414a30.368 30.368 0 0 1-23.078 7.288z"
                        data-original="#000000"></path>
                </svg>
            </button>
            <ul class='lg:flex lg:gap-x-5 max-lg:space-y-3 max-lg:fixed max-lg:bg-white max-lg:w-1/2 max-lg:min-w-[300px] max-lg:top-0 max-lg:left-0 max-lg:p-6 max-lg:h-full max-lg:shadow-md max-lg:overflow-auto z-50'>
                
                <li class='max-lg:border-b max-lg:py-3 px-3'>
                    <a href='javascript:void(0)' class='hover:text-[#007bff] text-white block font-bold text-[15px]'>Home</a>
                </li>
                <li class='max-lg:border-b max-lg:py-3 px-3'>
                    <a href='javascript:void(0)' class='hover:text-[#007bff] text-white block font-bold text-[15px]'>Team</a>
                </li>
                <li class='max-lg:border-b max-lg:py-3 px-3'>
                    <a href='javascript:void(0)' class='hover:text-[#007bff] text-white block font-bold text-[15px]'>Feature</a>
                </li>
                <li class='max-lg:border-b max-lg:py-3 px-3'>
                    <a href='javascript:void(0)' class='hover:text-[#007bff] text-white block font-bold text-[15px]'>Blog</a>
                </li>
                <li class='max-lg:border-b max-lg:py-3 px-3'>
                    <a href='javascript:void(0)' class='hover:text-[#007bff] text-white block font-bold text-[15px]'>About</a>
                </li>
                <li class='max-lg:border-b max-lg:py-3 px-3'>
                    <a href='javascript:void(0)' class='hover:text-[#007bff] text-white block font-bold text-[15px]'>Contact</a>
                </li>
                <li class='max-lg:border-b max-lg:py-3 px-3'>
                    <a href='javascript:void(0)' class='hover:text-[#007bff] text-white block font-bold text-[15px]'>Source</a>
                </li>
            </ul>
        </div>
        <div class='flex max-lg:ml-auto'>
            <button id="toggleOpen" class='lg:hidden'>
                <svg class="w-7 h-7" fill="#000" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                        clip-rule="evenodd"></path>
                </svg>
            </button>
        </div>
    </div>
</header>




    <main class="relative  flex flex-col justify-center  overflow-hidden pt-20">
        
<!--header section-->
<div class="relative isolate overflow-hidden bg-gray-900 py-24 sm:py-32">
    <img src="https://images.unsplash.com/photo-1521737604893-d14cc237f11d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&crop=focalpoint&fp-y=.8&w=2830&h=1500&q=80&blend=111827&sat=-100&exp=15&blend-mode=multiply" alt="" class="absolute inset-0 -z-10 h-full w-full object-cover object-right md:object-center">
    <div class="hidden sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl" aria-hidden="true">
      <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
    <div class="absolute -top-52 left-1/2 -z-10 -translate-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:translate-x-0 sm:transform-gpu" aria-hidden="true">
      <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:mx-0">
        <h2 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">Work with us</h2>
        <p class="mt-6 text-lg leading-8 text-gray-300">Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat aliqua.</p>
      </div>
      <div class="mx-auto mt-10 max-w-2xl lg:mx-0 lg:max-w-none">
        <div class="grid grid-cols-1 gap-x-8 gap-y-6 text-base font-semibold leading-7 text-white sm:grid-cols-2 md:flex lg:gap-x-10">
          <a href="#">Open roles <span aria-hidden="true">&rarr;</span></a>
          <a href="#">Internship program <span aria-hidden="true">&rarr;</span></a>
          <a href="#">Our values <span aria-hidden="true">&rarr;</span></a>
          <a href="#">Meet our leadership <span aria-hidden="true">&rarr;</span></a>
        </div>
        <div class="text-3xl text-center text-white mt-16 ">ACHIEVEMENTS</div>
        <div class="mx-auto  grid max-w-2xl grid-cols-1 gap-6 sm:mt-5 lg:mx-0 lg:max-w-none lg:grid-cols-3 lg:gap-8">
            <div class="flex gap-x-4 rounded-xl bg-white/5 hover:bg-white/10  p-6 ring-1 ring-inset ring-white/10 cursor-pointer">
                
                <div class="text-base leading-7">
                  
                  <p class="mt-2 text-gray-300 text-center">BRITISH AIRWAYS WORLD CARGO–EBD LTD–SPECIAL ACHIEVEMENT AWARD 1998/1999 & 1999/2000
                </p>
                </div>
              </div>
            <div class="flex gap-x-4 rounded-xl bg-white/5 hover:bg-white/10 p-6 ring-1 ring-inset ring-white/10 cursor-pointer">
                
                <div class="text-base leading-7">
                  
                  <p class="mt-2 text-gray-300 text-center">EMIRATES SKY CARGO–EBD LTD– BEST INTERLINE SUPPORTING PARTNER 2000/20001
                </p>
                </div>
              </div> 
            <div class="flex gap-x-4 rounded-xl bg-white/5 hover:bg-white/10 p-6 ring-1 ring-inset ring-white/10 cursor-pointer">
               
                <div class="text-base leading-7">
                  
                    <p class="mt-2 text-gray-300 text-center">BRITISH AIRWAYS WORLD CARGO–EBD LTD–SPECIAL ACHIEVEMENT AWARD 1998/1999 & 1999/2000
                  </p>
                  </div>
              </div>
            
          </div>
        <dl class="mt-16 grid grid-cols-1 gap-8 sm:mt-20 sm:grid-cols-2 lg:grid-cols-4">
            <div class="flex flex-col-reverse">
                <dt class="text-base leading-7 text-gray-300">Sites deployed with cctv & accessories by ng across bangladesh</dt>
                <dd class="text-2xl font-bold leading-9 tracking-tight text-white">900+</dd>
              </div>
          <div class="flex flex-col-reverse">
            <dt class="text-base leading-7 text-gray-300">Transations/Month on our supplied ATM's</dt>
            <dd class="text-2xl font-bold leading-9 tracking-tight text-white">5,000,000+
                </dd>
          </div>
          <div class="flex flex-col-reverse">
            <dt class="text-base leading-7 text-gray-300">MICR Cheque printed & distributed monthly</dt>
            <dd class="text-2xl font-bold leading-9 tracking-tight text-white">2500000+</dd>
          </div>
          <div class="flex flex-col-reverse">
            <dt class="text-base leading-7 text-gray-300">Corporate documents distributed monthly</dt>
            <dd class="text-2xl font-bold leading-9 tracking-tight text-white">700000+</dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
  
       <!-- featured section -->
       
       <div class="max-w-screen-7xl mx-auto py-8 px-4 lg:py-16 lg:px-6">
        <div class="text-center mb-10">
            <h2 class="text-4xl tracking-tight font-bold text-primary-800">COMPANY INTRODUCTION</h2>
        </div>
    
        <div class="grid grid-cols-2">
            <!-- can help image -->
            <div class=" mx-auto px-5 py-5 ">

                <div class="rounded overflow-hidden flex flex-col  mx-auto">
            
                    <a href="#">
                        <img class="w-[600px] h-[500px] mx-auto" src="static/image/Picture1.jpg">
                    </a>
                    <div class="relative -mt-16 px-10 pt-5 pb-7 bg-emerald-50 m-10">
                        <a href="#"
                            class=" font-semibold text-lg inline-block hover:text-indigo-600 transition duration-500 ease-in-out inline-block mb-2">
                            Who We are?</a>
                            <div class="text-container">
                                <p class="text-gray-900 text-sm text-justify overflow-hidden h-20">
                                    Networld group is a leading ICT solutions provider in Bangladesh, providing different IT products and services to various banks and financial institutions across the country. Our company is certified under ISO 9001:2015. Our range of services also includes logistics, courier, physical security, managed services, software, and maintenance services through our dedicated team of certified engineers. We also represent many industry-leading partners like NCR, DPTF, Hikvision, Huawei, Certis Cisco, Urovo, Software AG, BPC, Kimaya, Glory, ARCA among many others. We are also involved in sports development as part of our corporate social responsibility and are one of the co-organizers of the Bangabandhu Sheikh Mujib Dhaka Marathon working with the Bangladesh Army as the organizer.
                                </p>
                                <button class="read-more-btn text-teal-500 underline hover:text-teal-800">Read More</button>
                            </div>
                            
                        
                    </div>
            
                </div>
            
            </div>
            <script>
                document.addEventListener("DOMContentLoaded", function() {
    const readMoreBtn = document.querySelector(".read-more-btn");
    const paragraph = document.querySelector(".text-container p");

    readMoreBtn.addEventListener("click", function() {
        paragraph.classList.toggle("h-auto");
        if (paragraph.classList.contains("h-auto")) {
            readMoreBtn.textContent = "Read Less";
        } else {
            readMoreBtn.textContent = "Read More";
        }
    });
});

            </script>
            <!-- end can help image -->
    
            <div>
                <div class="grid grid-cols-2 gap-4">
                    <div class="w-full mb-4 px-2">
                        <div class="h-full py-4 px-6 border-b border-r border-green-500 rounded-br-xl transition-transform transform-gpu hover:scale-105 shadow-lg hover:shadow-xl hover:bg-teal-50 hover:ring-1 ring-teal-500 group">
                            <h3 class="text-xl font-bold mb-6 text-sky-900 group-hover:text-teal-600">NETWORLD BANGLADESH LIMITED</h3>
                            <p class="text-sm">Networld Bangladesh Limited is an ICT (Information & Communication Technology) company in Bangladesh providing various products and services to financial institutions since 2006.</p>
                        </div>
                    </div>
                    <div class="w-full mb-4 px-2">
                        <div class="h-full py-4 px-6 border-b border-r border-green-500 rounded-br-xl transition-transform transform-gpu hover:scale-105 shadow-lg hover:shadow-xl hover:bg-teal-50 hover:ring-1 ring-teal-500 group">
                            <h3 class="text-xl font-bold mb-6 text-sky-900 group-hover:text-teal-600">NETWORLD TECHNOLOGY LIMITED</h3>
                            <p class="text-sm">Our website is designed with a mobile-first approach, offering a seamless browsing experience across all devices, including smartphones and tablets.</p>
                        </div>
                    </div>
                    <div class="w-full mb-4 px-2">
                        <div class="h-full py-4 px-6 border-b border-r border-green-500 rounded-br-xl transition-transform transform-gpu hover:scale-105 shadow-lg hover:shadow-xl hover:bg-teal-50 hover:ring-1 ring-teal-500 group">
                            <h3 class="text-xl font-bold mb-6 text-sky-900 group-hover:text-teal-600">NETWORLD HOLDINGS LIMITED</h3>
                            <p class="text-sm">Our U.S.-based customer support team is available around the clock to answer any questions, resolve any issues, and provide helpful solutions. Whether it's through email, phone, or live chat, we're always here to support you.</p>
                        </div>
                    </div>
                    <div class="w-full mb-4 px-2">
                        <div class="h-full py-4 px-6 border-b border-r border-green-500 rounded-br-xl transition-transform transform-gpu hover:scale-105 shadow-lg hover:shadow-xl hover:bg-teal-50 hover:ring-1 ring-teal-500 group">
                            <h3 class="text-xl font-bold mb-6 text-sky-900 group-hover:text-teal-600">EBD LIMITED</h3>
                            <p class="text-sm">We use cutting-edge security measures to protect our customers' sensitive information and ensure the safety of all transactions made on our site.</p>
                        </div>
                    </div>
                    <div class="w-full mb-4 px-2">
                        <div class="h-full py-4 px-6 border-b border-r border-green-500 rounded-br-xl transition-transform transform-gpu hover:scale-105 shadow-lg hover:shadow-xl hover:bg-teal-50 hover:ring-1 ring-teal-500 group">
                            <h3 class="text-xl font-bold mb-6 text-sky-900 group-hover:text-teal-600">WORLD RUNNER EXPRESS LIMITED</h3>
                            <p class="text-sm">Our U.S.-based customer support team is available around the clock to answer any questions, resolve any issues, and provide helpful solutions. Whether it's through email, phone, or live chat, we're always here to support you.</p>
                        </div>
                    </div>
                    <div class="w-full mb-4 px-2">
                        <div class="h-full py-4 px-6 border-b border-r border-green-500 rounded-br-xl transition-transform transform-gpu hover:scale-105 shadow-lg hover:shadow-xl hover:bg-teal-50 hover:ring-1 ring-teal-500 group">
                            <h3 class="text-xl font-bold mb-6 text-sky-900 group-hover:text-teal-600">MILLENNIUM CERTIS SECURITY BANGLADESH LIMITED</h3>
                            <p class="text-sm">We use cutting-edge security measures to protect our customers' sensitive information and ensure the safety of all transactions made on our site.</p>
                        </div>
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>
      <!-- end featured section -->


           
        <!--another-->
        <!--our products-->
        
        
        <!--done-->
        <div class="mx-auto font-bold text-3xl pt-5 pb-14"><h3>Our Partners</h3></div>
        <div class="w-full mx-auto px-4 md:px-6 py-2 md:py-5">
            <div class="text-center">
        
                <!-- Logo Carousel animation -->
                <div
                    x-data="{}"
                    x-init="$nextTick(() => {
                        let ul = $refs.logos;
                        ul.insertAdjacentHTML('afterend', ul.outerHTML);
                        ul.nextSibling.setAttribute('aria-hidden', 'true');
                    })"
                    class="w-full inline-flex flex-nowrap overflow-hidden logo-carousel"
                >
                    <ul x-ref="logos" class="flex items-center justify-center md:justify-start [&_li]:mx-8 [&_img]:max-w-none animate-infinite-scroll">
                        <li>
                            <img src="http://www.networld-bd.com/OurPartnerComPic/huaWei.png" alt="Huawei" class="h-10 md:h-16" />
                        </li>
                        <li>
                            <img src="http://www.networld-bd.com/OurPartnerComPic/certis.png" alt="Certis" class="h-10 md:h-16" />
                        </li>
                        <li>
                            <img src="http://www.networld-bd.com/OurPartnerComPic/MSP.png" alt="MSP" class="h-10 md:h-16" />
                        </li>
                        <li>
                            <img src="http://www.networld-bd.com/OurPartnerComPic/bpc.png" alt="BPC" class="h-10 md:h-16" />
                        </li>
                        <li>
                            <img src="http://www.networld-bd.com/OurPartnerComPic/urovo.png" alt="Urovo" class="h-10 md:h-16" />
                        </li>
                        <li>
                            <img src="http://www.networld-bd.com/OurPartnerComPic/EnSmart.png" alt="EnSmart" class="h-10 md:h-16" />
                        </li>
                        <li>
                            <img src="http://www.networld-bd.com/OurPartnerComPic/fime.png" alt="Fime" class="h-10 md:h-16" />
                        </li>
                        <li>
                            <img src="http://www.networld-bd.com/OurPartnerComPic/tiyanyu.png" alt="Tiyanyu" class="h-10 md:h-16" />
                        </li>
                    </ul>
                </div>
                <!-- End: Logo Carousel animation -->
        
            </div>
        </div>
        
        <div class="w-full mx-auto px-4 md:px-6 py-2 md:py-5">
            <div class="text-center">
        
                <!-- Logo Carousel animation -->
                <div
                    x-data="{}"
                    x-init="$nextTick(() => {
                        let ul = $refs.logos;
                        ul.insertAdjacentHTML('afterend', ul.outerHTML);
                        ul.nextSibling.setAttribute('aria-hidden', 'true');
                    })"
                    class="w-full inline-flex flex-nowrap overflow-hidden logo-carousel"
                >
                    <ul x-ref="logos" class="flex items-center justify-center md:justify-start [&_li]:mx-8 [&_img]:max-w-none animate-infinite-scroll">
                        <li>
                            <img src="http://www.networld-bd.com/OurPartnerComPic/huaWei.png" alt="Huawei" class="h-10 md:h-16" />
                        </li>
                        <li>
                            <img src="http://www.networld-bd.com/OurPartnerComPic/certis.png" alt="Certis" class="h-10 md:h-16" />
                        </li>
                        <li>
                            <img src="http://www.networld-bd.com/OurPartnerComPic/MSP.png" alt="MSP" class="h-10 md:h-16" />
                        </li>
                        <li>
                            <img src="http://www.networld-bd.com/OurPartnerComPic/bpc.png" alt="BPC" class="h-10 md:h-16" />
                        </li>
                        <li>
                            <img src="http://www.networld-bd.com/OurPartnerComPic/urovo.png" alt="Urovo" class="h-10 md:h-16" />
                        </li>
                        <li>
                            <img src="http://www.networld-bd.com/OurPartnerComPic/EnSmart.png" alt="EnSmart" class="h-10 md:h-16" />
                        </li>
                        <li>
                            <img src="http://www.networld-bd.com/OurPartnerComPic/fime.png" alt="Fime" class="h-10 md:h-16" />
                        </li>
                        <li>
                            <img src="http://www.networld-bd.com/OurPartnerComPic/tiyanyu.png" alt="Tiyanyu" class="h-10 md:h-16" />
                        </li>
                    </ul>
                </div>
                <!-- End: Logo Carousel animation -->
        
            </div>
        </div>
        
    </main>

    <style>
        /* Default for mobile view */
        .logo-carousel {
            mask-image: linear-gradient(to right, transparent 0, black 20px, black calc(100% - 20px), transparent 100%);
        }
        
        /* For medium screens and up */
        @media (min-width: 768px) {
            .logo-carousel {
                mask-image: linear-gradient(to right, transparent 0, black 128px, black calc(100% - 128px), transparent 100%);
            }
        }
        </style>
        
    {% endblock %}
    
    
  