{% block mission %} 
<div class="bg-zinc-50 overflow-hidden">
    <div class="text-center pt-10 text-3xl font-bold"><Span >Our Mission & Vision</Span></div>
    <div class="max-w-screen-xl 2xl:max-w-screen-3xl px-8 md:px-12 mx-auto pt-20 lg:pt-44 md:pb-16 lg:pb-10 space-y-24 flex flex-col justify-center">
        <div class="flex flex-col sm:flex-row mx-auto">
            <!--- Starts component -->
            <a href="#">
                <div class="bg-gradient-to-r from-purple-600 to-pink-600 rounded-xl text-white border rotate-6 hover:rotate-0 duration-500 hover:-translate-y-12 h-60 w-60 object-cover hover:scale-110 md:hover:scale-eir 2xl:hover:scale-150 transform origin-bottom bg-white p-8">
                    <h2 class="text-2xl font-bold">Your Text Here</h2>
                    <p >Additional Description if needed</p>
                </div>
            </a>
            <a href="#">
                <div class="rounded-xl text-white -rotate-12 hover:rotate-0 duration-500 hover:-translate-y-12 h-full w-full object-cover hover:scale-110 md:hover:scale-eir 2xl:hover:scale-150 transform origin-bottom bg-white p-8">
                    <h2 class="text-2xl font-bold">Your Text Here</h2>
                    <p class="text-gray-500">Additional Description if needed</p>
                </div>
            </a>
            <a href="#">
                <div class="rounded-xl text-white rotate-6 hover:rotate-0 duration-500 hover:-translate-y-12 h-full w-full object-cover hover:scale-110 md:hover:scale-eir 2xl:hover:scale-150 transform origin-bottom bg-white p-8">
                    <h2 class="text-2xl font-bold">Your Text Here</h2>
                    <p class="text-gray-500">Additional Description if needed</p>
                </div>
            </a>
            <a href="#">
                <div class="rounded-xl text-white -rotate-12 hover:rotate-0 duration-500 hover:-translate-y-12 h-full w-full object-cover hover:scale-110 md:hover:scale-125 2xl:hover:scale-150 transform origin-bottom bg-white p-8">
                    <h2 class="text-2xl font-bold">Your Text Here</h2>
                    <p class="text-gray-500">Additional Description if needed</p>
                </div>
            </a>
            <!--- Ends component -->
        </div>
    </div>
</div>
  
{% endblock %}
